extends layout

block content
  //h1= title
  //p Welcome to #{title}

  .container
    h2 Choose topics for the next Spread Your Afternoon
    table
      thead
        th topic
        th description
        th votes
      tbody
        for topic in topics
          tr
            td
              h3 #{topic[0]}
            td #{topic[1]}
            td
              span.badge.badge-success #{topic[2]}
              div.btn-group.btn-group-vertical
                button.btn.btn-mini.btn-success(type="button")
                  i.icon-plus
                button.btn.btn-mini.btn-danger(type="button")
                  i.icon-minus

    hr

    form.form-horizontal
      fieldset
        div.control-group
          label.control-label Topic
          div.controls
            input(type="text", placeholder="We should talk about...")
        div.control-group
          label.control-label Details
          div.controls
            textarea(rows="4", placeholder="Describe the topic in a few sentences")
        div.control-group
          div.controls
            button.btn(type="submit") Submit
