extends layout

block content
  //h1= title
  //p Welcome to #{title}

  .container
    h2 Choose topics for the next Spread Your Afternoon
    table
      thead
        th topic
        th description
        th votes
      tbody
        tr
          td
            h3 this site
          td let\'s talk about this site and how it works
          td
            span.badge.badge-success +3
            div.btn-group.btn-group-vertical
              button.btn.btn-mini.btn-success(type="button")
                i.icon-plus
              button.btn.btn-mini.btn-danger(type="button")
                i.icon-minus
        tr
          td
            h3 age gates
          td let\'s discuss our shared love of keeping people from using our site
          td
            span.badge.badge-important -2
            div.btn-group.btn-group-vertical
              button.btn.btn-mini.btn-success(type="button")
                i.icon-plus
              button.btn.btn-mini.btn-danger(type="button")
                i.icon-minus

    hr

    form.form-horizontal
      fieldset
        div.control-group
          label.control-label Topic
          div.controls
            input(type="text", placeholder="We should talk about...")
        div.control-group
          label.control-label Details
          div.controls
            textarea(rows="4", placeholder="Describe the topic in a few sentences")
        div.control-group
          div.controls
            button.btn(type="submit") Submit
